body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}
body {
  color: #333;
  background-color: #9bd;
}